.top {
    margin-top: 70px;
}

.TvShowName {
   margin-bottom: 25px;
}

.text-center img{
    margin-bottom: 10px;
}

.ButtonAdd{
    background-color: white;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 25px;
}


.TvShowSummary{
    margin-bottom: 50px;
}

.Episodes{
    margin-top: 90px;
    margin-bottom: 50px;
    background-color: #222222;
    border-radius: 8px;
}

.Episodes p{
    color: white;
    font-size: 25px;
    font-weight: 300;
}